.card {
    width: 150px;
    height: 250px;
    background-color: rgba(233, 228, 201, 0.874);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    border-style: outset;
    flex-wrap: wrap;
    align-content: space-around; 
    margin: 10px;
}

.img {
    width: 100px;
    height: 65px;
    margin-top: 0px;
}
.country{
    font-size: 15px;
    color: rgb(80, 76, 76);
    margin-top: 7px;
}
.name {
    font-size: 12px;
    color: rgb(80, 76, 76);
    margin:0px;
}
.continent {
    font-size: 9px;
    color: rgb(80, 76, 76);
    margin-bottom: 0px;
    margin-top: 5px;
}

.button {
  background: linear-gradient(to bottom right, #a89f43, #fff15a);
  border: 0;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 10px;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 233, 71, 0.718), .125rem .125rem 1rem rgba(116, 95, 54, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem  rgba(239, 233, 71, 0.718), .125rem .125rem 1rem rgba(116, 95, 54, 0.5);
}
