.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.font{
    margin-top: 0%;
    margin-left: 10px;
    margin-right: 10px;
}
.buttonnext{
    margin-bottom: 0%;
    background: url("../../asses/right.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    border-style: hidden;
    cursor: pointer;
}
.buttonback{
    margin-bottom: 0%;
    background: url("../../asses/left.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    border-style: hidden;
    cursor: pointer;
}